<%
=begin%>
 <h3><%= @room.name %></h3> 
<%
=end%>



    <div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
    
 <%= javascript_tag do %>
    <%= render(:partial => 'video', :handlers => [:erb], :formats => [:js]) %>
  <% end %>