<%
=begin%>
 <h3><%= @room.name %></h3> 
<%
=end%>


    <div id="videos">
        <div id="subscriber">
          <section id="noSubscriber">
            <div>
              <span class="title">Waiting for other people to arrive</span>
              <div class="copyLink">
                <span class="originalUrl">
                  <%= request.original_url %>
                </span>
                <button id="buttonCopy">
                Copy Link
                </button>
              </div>
            </div>
          </section>
        </div>
        <div id="publisher"></div>
    </div>

<%= javascript_tag do %>
  <%= render(:partial => 'video', :handlers => [:erb], :formats => [:js]) %>
<% end %>