button {
    color: $green;
    border: 1px solid $green;
    padding: 5px;
    border-radius: 5px;
    background: transparent;
    width: 80%;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      color: white;
      background: $green;
    }
}