@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ribeye+Marrow&display=swap');

.whereby {
    background: white;
    width: 35%;
    padding: 40px 20px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;

    h1 {
        color: black;
        font-weight: 400;
        margin: 0;
        font-family: 'Ribeye Marrow', cursive;
    }

    input {
        width: 80%;
        height: 30px;
        font-size: 1em;
        padding: 5px;
        margin: 20px 0 10px;
        border-radius: 5px;
        border: 1px solid;
    }

    button {
        color: #006654;
        border: 1px solid #006654;
        padding: 5px;
        border-radius: 5px;
        background: transparent;
        width: 80%;
        font-size: 1em;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          color: white;
          background: #006654;
        }
    }
}
  html,
  body {
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
  }
  body, input[type="text"] {
    font-family: 'Montserrat', sans-serif;
  }
  body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006654
  }
  